<p>Now is <%= Time.now %></p>

<form action="/about" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?" value="<%= params[:member] %>">
  <input type="submit">
</form>

<h2>Meet our team</h2>
<ol>
  <% @members.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ol>

<h1>Our kick ass About page 🚀</h1>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis aut, labore omnis, incidunt odio aliquam tempora recusandae fuga quisquam nemo magni eligendi vero nobis inventore a hic nam voluptates delectus!
Fugit modi dolorum, iste doloremque rem error sapiente eaque voluptatem consequuntur minus officiis harum maiores doloribus corrupti repellendus amet ut blanditiis, hic, tempora id. Qui iusto excepturi mollitia iste minus.
Commodi ut, amet totam ipsam vero id in laudantium debitis blanditiis rem similique quam repudiandae quis asperiores ea nisi officia expedita, esse vel neque quidem nam quo dolore. Consequuntur, natus.
Recusandae aspernatur maiores aliquam incidunt nobis, quis illo quos doloremque reprehenderit doloribus nam, quam debitis sint corporis voluptate voluptates, asperiores voluptatibus? Quasi explicabo mollitia quisquam sint minus totam, rem recusandae!
Enim suscipit modi iste corrupti officiis vel inventore fugit temporibus repellendus repudiandae quia quisquam id dolorem nisi voluptates tenetur, nostrum libero voluptatem incidunt a odit, similique quidem laboriosam. Quasi, id!
Deleniti nesciunt veniam nisi iusto omnis eos odio molestias saepe labore delectus repellat doloremque rem ex praesentium ratione debitis doloribus, dolorem, aliquam voluptatum? Optio, illo earum! Porro commodi voluptatibus rem.
Iusto beatae molestiae nesciunt architecto nisi quo atque doloribus in tempore inventore laudantium, magni amet quos dolore velit autem? Animi esse unde sunt! Sequi maxime consequuntur laudantium neque perspiciatis nesciunt.
Laboriosam numquam corrupti illo dignissimos quas, vitae et, eligendi accusantium a optio ipsa praesentium voluptatibus, esse quod recusandae illum aut! Expedita accusamus corporis odit. Quis nisi at architecto animi fugiat!
Temporibus, accusamus numquam expedita fugiat natus pariatur, quas minus harum quos omnis dignissimos suscipit delectus illo nesciunt eligendi maxime ad quod in. Aspernatur magnam repellat autem explicabo vero tempora officia!
Nam doloremque rerum optio numquam harum nemo suscipit molestiae in tempore ipsa obcaecati soluta, deleniti ducimus iste nostrum eius eligendi id modi maxime maiores? Itaque eaque ullam error facilis totam. </p>
